<main>
    <div>
        <h2><a href="/play.html">New Game</a></h2>
        <span>How to play</span>
    </div>
    <div>
        <h2>High scores</h2>
        <div>
            {{#each games}}
                <div><a href="/game.html?id={{ id }}">{{ username }}{{#if me}} (ich){{/if}}</a>: {{ points }} Punkte</div>
            {{/each}}
        </div>
    </div>
    <div>
        <h2>Most viewed</h2>
        <div>
            {{#each views}}
                <div><a href="/game.html?id={{ id }}">{{ username }}{{#if me}} (ich){{/if}}</a>: {{ points }} Punkte (Views: {{ count }})</div>
            {{/each}}
        </div>
    </div>
    <div>
        <h2>Favorites</h2>
        <div>
            {{#each favorites}}
                <div><a href="/game.html?id={{ id }}">{{ username }}{{#if me}} (ich){{/if}}</a>: {{ points }} Punkte</div>
            {{/each}}
        </div>
    </div>
</main>
